.transparent {
	background: rgba(0,0,0,0)

}
.first-module{
	background-image: url("https://source.unsplash.com/i14h2xyPr18");
	background-size: cover;
	height: 650px;
}
.navbar-nav {
	font-size: 120%;
}


.btn-danger {
	background-color: rgba(0,0,0,0)
}

h3 {
	font-style: italic; 
	font-family: 'Seaweed Script', cursive;
	color: rgba(150,70,50,0.9);
}
#head {
	text-align: center;
	margin-top: 70px;
}

hr {
	width: 80%;
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 0%;

}
#kh {
	margin-top: 500em;
	font-family: 'Arvo', serif;
	color: rgba(180,50,50,0.8);
	font-weight: bold;
	font-size: 500%;
}

